
.section-services {
    font-family: "Times New Roman", Times, serif;
	background-color: rgba(51, 45, 45);
    color:rgb(255, 255, 255);
	padding-top: 4vh;
    padding-bottom: 120px;
}

.section-services .header-section {
	margin-bottom: 34px;
}

.section-services .header-section .title {
	position: relative;
    padding-bottom: 14px;
    margin-bottom: 25px;
	font-weight: 700;
    font-size: 32px;
}

.section-services .header-section .title:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 50px;
	height: 3px;
	background-color: rgb(230, 215, 182);
    border-radius: 3px;
}

.section-services .header-section .title:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
    transform: translateX(30px);
	width: 10px;
	height: 3px;
	background-color: #646464;
    border-radius: 3px;
}

.section-services .header-section .description {
	font-size: 14px;
    color: rgb(255, 255, 255);
}

.section-services .single-service {
    position: relative;
    margin-top: 30px;
    background-color: #fff;
    border-radius: 2px;
    padding: 40px 30px;
    overflow: hidden;
}

.section-services .single-service:hover {
  transform: scale(1.02);
}

.section-services .single-service .content {
	position: relative;
	z-index: 20;
}

.section-services .single-service .caption {
	/* display: flex; */
    align-items: center;
}

.section-services .single-service .icon {
	display: inline-block;
	margin-bottom: 26px;
    width: 70px;
    height: 70px;
    background-color:  rgba(51, 45, 45);
    border-radius: 15px;
    line-height: 70px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    transition: all .3s;
}

.section-services .single-service:hover .icon {
	background-color: rgb(230, 215, 182);
	color: rgba(51, 45, 45);
}

.section-services .single-service .title {
    margin-bottom: 18px;
	font-weight: 700;
    font-size: 23px;
    color: rgba(51, 45, 45);
    transition: color .3s;
}

.section-services .single-service .description {
    margin-bottom: 20px;
    font-size: 14px;
    color: rgba(51, 45, 45);
    transition: color .3s;
}

.section-services .single-service a {
	position: relative;
	font-size: 18px;
    color: #202020;
    text-decoration: none;
    font-weight: 500;
    transition: color .3s;
}

.section-services .single-service:hover a {
	color: #fff;
}

.section-services .single-service a:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1px;
	background-color: #ff4500;
	transition: background-color .3s;
}

.section-services .single-service:hover a:after {
	background-color: #fff;
}