.swiper {
    width: 100%;
    height: 100%;
}
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-content {
    max-height: 100vh;
    overflow: auto;
}

.slide-content img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: 99;
    color: rgb(230, 215, 182);
    text-shadow: 3px 2px 8px rgba(120,118,118,0.92);
    font-family: "Times New Roman", Times, serif;
    height: 200px;
  }

.hero-text h1{
    font-size: 7vw;
    line-height: 95%;
}

.hero-text p{
    line-height: 100%;
    font-size: 1.5vw;
    text-shadow: 3px 2px 8px rgba(120,118,118,0.92);
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    margin-top: 25px;
    padding: 10px 25px;
    color: black;
    background-color: rgb(230, 215, 182);
    text-align: center;
    cursor: pointer;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.7vw;
  }

.hero-text button:hover {
    background-color: rgb(71, 63, 47);
    color: white;
  }


@media (max-width:1299px) {
    .hero-text{
        width: 60%;
    }
    .hero-text h1{
        font-size: 9.6vw;
    }
    .hero-text p{
        font-size: 3.2vw;
    }
    .hero-text button {
        font-size: 2.2vw;
        /* margin-top: 15px; */
    }
}