
.section-contact {
    font-family: "Times New Roman", Times, serif;
	/* background-color: rgba(51, 45, 45); */
    color:rgb(0, 0, 0);
	padding-top: 4vh;
    padding-bottom: 120px;
}

.section-contact .header-section {
	margin-bottom: 34px;
}

.section-contact .header-section .title {
	position: relative;
    padding-bottom: 14px;
    margin-bottom: 25px;
	font-weight: 700;
    font-size: 32px;
}

.section-contact .header-section .title:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 50px;
	height: 3px;
	background-color: rgba(51, 45, 45);
    border-radius: 3px;
}

.section-contact .header-section .title:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
    transform: translateX(30px);
	width: 10px;
	height: 3px;
	background-color: #646464;
    border-radius: 3px;
}

.form-control {
  /* max-width: 40vw; */
  /* background-color: #000; */
  /* color: #fff; */
  letter-spacing: 1px;
  margin-bottom: 15px;
}