.brand-name img {
    max-height: 4.5vh;
    position: absolute;
    /* z-index: 99; */
}

.navbar-parent{
    font-family: "Times New Roman", Times, serif;
    color: rgb(230, 215, 182);;
}

@media (min-width: 1200px) {
    .navbar-parent {
      padding-right: 20rem;
      padding-left: 15rem;
      height: 5%;
    }
  }

@media (min-width: 992px) {
    .navbar-parent {
    height: 5%;
    }
}

@media (max-width: 992px) {
    .navbar-collapse {
        padding-top: 5px;
        padding-left: 8px;
    }
}